section {
  position: relative;
}

.permalink {
  position: absolute;
  height: 100%;
  font-size: 0.8rem;
  left: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.permalink>a {
  text-decoration: none;
}

.permalink>* {
  visibility: hidden;
}

section:hover>.permalink>* {
  visibility: visible;
}

.private {
  border-inline-start: 1px solid var(--border);
  padding-inline-start: 7px;
  margin-inline-start: -8px;
}

.embed-youtube-wrapper {
  position: relative;
  height: 0;
}

.embed-youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media print,
(max-width: 767.98px) {
  .permalink {
    width: 24px;
  }

  .embed-youtube-wrapper {
    width: 100%;
    padding-block-end: 56.25%;
  }
}

@media (min-width: 768px) {
  .permalink {
    width: 32px;
  }

  .embed-youtube-wrapper {
    width: 80%;
    padding-block-end: 45%;
  }
}

@media (min-width: 1200px) {
  .embed-youtube-wrapper {
    width: 60%;
    padding-block-end: 33.75%;
  }
}

@media (prefers-contrast: more) {
  .permalink>* {
    visibility: visible;
  }
}

@media print {
  .permalink {
    left: 0;
    top: -1.2rem;
    display: initial;
  }

  .permalink>a {
    font-size: 0;
  }

  .permalink>a:after {
    font-size: 0.8rem;
    visibility: visible;
    content: "[" attr(href) "]";
  }
}
