@use "base";

html {
  height: 100%;
  color: base.$fg-light;
  background-color: base.$bg-light;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

ul {
  margin-left: 0;
}

li {
  margin-top: 4px;
  margin-bottom: 4px;
  list-style: square;
}

pre {
  padding: 4px 8px;
  border: 1px solid base.$border-light;
}

address {
  font-size: 0.8rem;
  line-height: 2rem;
}

p {
  text-align: justify;
}

a {
  color: base.$link-light;
}

a:visited {
  color: base.$link-visited-light;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color: base.$fg-dark;
    background-color: base.$bg-dark;
  }

  a {
    color: base.$link-dark;
  }

  a:visited {
    color: base.$link-visited-dark;
  }

  pre {
    border-color: base.$border-dark;
  }
}

@media (max-width: 767px) {
  body {
    padding: 24px 24px 24px;
  }

  section,
  footer {
    margin-top: 24px;
  }

  ul {
    padding-left: 1.5rem;
  }

  h1 {
    margin: 64px auto 32px;
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  body {
    padding: 96px 160px 24px;
  }

  section,
  footer {
    margin-top: 32px;
  }

  ul {
    padding-left: 2rem;
  }

  h1 {
    margin: 64px auto 48px;
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
