# dependencies
/node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# production
/dist
/public

# misc
.DS_Store
.env.local
.env.*.local
.vscode/*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

private/
schema.json
render.js
Makefile.*

.vscode/*.log
